@model Inventario.Models.Producto

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h2>Editar Producto</h2>

        <form asp-action="Edit" method="post">
            <!-- Añadido method="post" para enviar el formulario -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreProd" class="control-label">Nombre</label>
                <input asp-for="NombreProd" class="form-control" />
            </div>
            @if (ViewData["accion"] == "entrada" || ViewData["accion"] == "salida")
            {
                <div class="form-group">
                    <label asp-for="Cantidad" class="control-label">Cantidad</label>
                    <input asp-for="Cantidad" class="form-control" />
                </div>
            }
            <div class="form-group">
                <label asp-for="Activo" class="control-label">Activo</label>
                <select asp-for="Activo" class="form-control">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>

    @section Scripts {
        <script>
            // Aquí puedes agregar tu lógica JavaScript para cambiar dinámicamente el comportamiento de la vista según la acción
        </script>
    }
</body>
</html>
